---
import { getCollection, getEntry } from "astro:content";
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map(({ slug }) => ({
    params: { slug },
  }));
}

const { slug } = Astro.params;

const {
  data: { name, hub, link, repository, dateStarted, img },
} = await getEntry("projects", slug);
---

<Base>
  <h1 class="text-5xl font-bold">
    {name}
  </h1>
  <ul>
    <li>
      <a href={hub}>{hub}</a>
    </li>
    <li>
      <a href={link}>{link}</a>
    </li>
    <li>
      <a href={repository}>{repository}</a>
    </li>
    <li>{dateStarted}</li>
    {
      img ? (
        <Image
          src={img}
          alt=""
          class="aspect-[16/10] object-cover object-top rounded-lg"
        />
      ) : null
    }
  </ul>
</Base>
